* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 0px;
}

#topic {
    text-align: center;
}

img {
    padding-top: 10px;
}

ul li,
ol li {
    width: fit-content;
    list-style-position: outside;
    text-align: left;
    padding-bottom: 10px;  
}

ul li {
    margin-left: 45%;  
}

ol.add-margin {
    margin-left: 40%;
}